@import '~bootstrap/scss/bootstrap';

a {
    color: black;
    text-decoration: none;
}

.rotate-180 {
    transform: rotate(180deg);
}

i:not(.fa-caret-down) {
    color: $primary;
}

.card-title {
    height: 50px;
}